# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Dependency directories

node_modules/

# TypeScript cache

*.tsbuildinfo

# dotenv environment variable files

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.wrangler
.dev.vars

# Change them to your taste:
wrangler.toml

# SQL migrations
migrations/